<template name="armory">
  <div class="col-md-10">
    <h2>{{currentUser.username}}'s Armory</h2>
    {{#if Template.subscriptionsReady}}
      <p>
        You have {{formatNumber (floor player.citizens)}} to train and {{formatNumber player.growth}} citizens will arrive next turn.
      </p>
      <p>
        You have {{formatNumber resources.amount}} to spend on weapons.
      </p>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Soldier Type</th>
              <th>Own</th>
            </tr>
          </thead>
          <tbody>
            {{#each soldiers}}
              <tr class="soldiers">
                <td class="name">{{name}}</td>
                <td class="number">{{formatNumber (floor number)}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <table class="table table-hover col-md-6">
          <thead>
            <tr>
              <th class="col-md-3">Offensive Weapons</th>
              <th class="col-md-1">Cost</th>
              <th class="col-md-1">Own</th>
            </tr>
          </thead>
          <tbody>
            {{#each offWeapon}}
              <tr class="weapons">
                <td class="name">Buy {{name}}</td>
                <td class="cost">{{formatNumber (floor cost)}}</td>
                <td class="number">{{formatNumber (floor number)}}</td>
                <form class="form-inline" role="form" id="{{name}}">
                  <div class="form-group trainWorker">
                    <input type="number" class="form-control" name="number" placeholder=1>
                  </div>
                </form>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <table class="table table-hover col-md-6">
          <thead>
            <tr>
              <th class="col-md-3">Defensive Weapons</th>
              <th class="col-md-1">Cost</th>
              <th class="col-md-1">Own</th>
            </tr>
          </thead>
          <tbody>
            {{#each defWeapon}}
              <tr class="weapons">
                <td class="name">Buy {{name}}</td>
                <td class="cost">${{formatNumber (floor cost)}}</td>
                <td class="number">{{formatNumber (floor number)}}</td>
                <form class="form-inline" role="form">
                  <div class="form-group trainWorker" id="">
                    <input type="number" class="form-control" name="number" placeholder=1>
                  </div>
                </form>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      {{> spinner}}
    {{/if}}
  </div>
</template>
