<template name="battleground">
  <div class="col-md-10">
    <h2>Battleground</h2>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Username</th>
          <th>Rate</th>
          <th>Money</th>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
        <tr class="player">
          <td class="rank">{{addOne @index}}</td>
          <td class="name">{{username}}</td>
          <td class="rate">${{formatCurrency rate}}/minute</td>
          <td class="money">${{formatCurrency money}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
