<template name="command">
  <div class="col-md-10">
    <h2>{{currentUser.username}}'s Command Center</h2>
    {{#if Template.subscriptionsReady}}
      <p>
        You currently make {{formatNumber player.rate}} and have {{formatNumber player.credits}} gold.
      </p>
      <p>
        You have {{formatNumber (floor player.citizens)}} to train and {{formatNumber player.growth}} citizens will arrive next turn.
      </p>
      <input type="button" class="code btn btn-primary" value="Raid a mine. ($25)" />
      <input type="button" class="codeBig btn btn-primary" value="Raid a bigger mine. ($500)" />
      <input type="button" class="codeBiggest btn btn-primary" value="Raid a biggest mine. ($5,000,000)" />
      <table class="table table-hover col-md-10">
        <thead>
          <tr>
            <th>Resource</th>
            <th>Amount</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          {{#each resources}}
            <tr class="resources">
              <td class="name">Buy {{name}}</td>
              <td class="amount">{{formatNumber amount}}</td>
              <td class="rate">{{formatNumber productionRate}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{> spinner}}
    {{/if}}
  </div>
</template>
