<template name="training">
  <div class="col-md-10">
    <h2>{{currentUser.username}}'s Training Ground</h2>
    {{#if Template.subscriptionsReady}}
      <p>
        You have {{formatNumber (floor player.citizens)}} to train and {{formatNumber player.growth}} citizens will arrive next turn.
      </p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Train</th>
            <th>Cost</th>
            <th>Own</th>
          </tr>
        </thead>
        <tbody>
          {{#each workers}}
            <tr class="workers">
              <td class="action">Buy {{name}}</td>
              <td class="cost">${{formatNumber (floor cost)}}</td>
              <td class="number">{{formatNumber (floor number)}}</td>
              <input type="button" class="trainWorker btn btn-primary span2" id="{{name}}" data-number="1" value="Buy" />
              <input type="button" class="trainWorker btn btn-primary span2" id="{{name}}" data-number="10" value="Buy x10" />
              <input type="button" class="trainWorker btn btn-primary span2" id="{{name}}" data-number="100" value="Buy x100" />
              <input type="button" class="trainMax btn btn-primary span2" id="{{name}}" data-number="max" value="Buy Max" />
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Increase</th>
            <th>Cost</th>
            <th>Current Growth</th>
          </tr>
        </thead>
        <tbody>
          <tr class="growthIncrease">
            <td class="action">Buy Growth</td>
            <td class="growthCost">${{formatNumber player.growthCost}}</td>
            <td class="currentGrowth">{{formatNumber player.growth}}</td>
            <input type="button" class="buyGrowth btn btn-primary span2" data-number="1" value="Buy" />
            <input type="button" class="buyGrowth btn btn-primary span2" data-number="10" value="Buy x10" />
            <input type="button" class="buyGrowth btn btn-primary span2" data-number="100" value="Buy x100" />
            <input type="button" class="buyGrowth btn btn-primary span2" data-number="max" value="Buy Max" />
          </tr>
          <tr>
            <input type="button" class="killCitizens btn btn-primary span2" value="Kill All Citizens" />
            <input type="button" class="resetGrowthRate btn btn-primary span2" value="Reset Growth Rate" />
            <input type="button" class="killWorkers btn btn-primary span2" value="Kill Workers" />
            <input type="button" class="resetMoney btn btn-primary span2" value="Give Your Gold Away" />
          </tr>
        </tbody>
      </table>
    {{else}}
      {{> spinner}}
    {{/if}}
  </div>
</template>
