<template name="navLeft">
	<div class="navLeft col-md-2">
  		<ul class="nav nav-pills nav-stacked" align="center">
				<li class="{{ activeIfTemplateIs 'battleground' }}"><a href="{{pathFor route='battleground'}}">Battleground</a></li>
				<li class="{{ activeIfTemplateIs 'facilities' }}"><a href="{{pathFor route='facilities'}}">Facilities</a></li>
    		<li class="{{ activeIfTemplateIs 'training' }}"><a href="{{pathFor route='training'}}">Training Ground</a></li>
				<li class="{{ activeIfTemplateIs 'armory' }}"><a href="{{pathFor route='armory'}}">Armory</a></li>
    		<li class="{{ activeIfTemplateIs 'science'}} disabled"><a href="{{pathFor route='science'}}">Science Center</a></li>
				<li class="{{ activeIfTemplateIs 'market'}} disabled"><a href="{{pathFor route='market'}}">Market</a></li>
  		</ul>
	</div>
</template>
