<template name="navTopRight">
	<li style="margin-top:15px;" >{{> donate}}</li>
	<li class="{{ activeIfTemplateIs 'about' }}"><a href="{{pathFor route='about'}}">About</a></li>
	<li class="{{ activeIfTemplateIs 'contact' }}"><a href="{{pathFor route='contact'}}">Contact Us</a></li>
	{{> loginButtons}}
</template>

<template name="donate">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="7ZC47S5JBUTDY">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</template>
